<section>
  <div class="container-fluid">
    <h4 i18n class="xxl-head">
      <!-- <span data-aos="fade-left">O</span
      ><span data-aos="fade-left" data-aos-delay="100">u</span
      ><span data-aos="fade-left" data-aos-delay="200">r</span>
      <br />
      <span data-aos="fade-left" data-aos-delay="300">S</span
      ><span data-aos="fade-left" data-aos-delay="400">o</span
      ><span data-aos="fade-left" data-aos-delay="500">l</span
      ><span data-aos="fade-left" data-aos-delay="600">u</span
      ><span data-aos="fade-left" data-aos-delay="700">t</span
      ><span data-aos="fade-left" data-aos-delay="800">i</span
      ><span data-aos="fade-left" data-aos-delay="900">o</span
      ><span data-aos="fade-left" data-aos-delay="1000">n</span
      ><span data-aos="fade-left" data-aos-delay="1100">s</span> -->
      OUR SOLUTIONS
    </h4>

    <div class="row">
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/logo.png"
        alt=""
        class="logo-trns"
      />
      <div class="col-lg-6" data-aos="fade-right">
        <div class="text">
          <p i18n class="lead">
            Royal Nano Ceramic offers advanced protection services for vehicles,
            aircraft, boats, and motorcycles in Egypt. Using the best
            international materials and modern nano-ceramic technologies, the
            company ensures top-level protection and quality, delivering a
            unique experience that makes them the leading choice in the market.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-cards">
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <img
                src="https://meek-mermaid-ea40cf.netlify.app/icons/car-alt.svg"
                alt="car"
              />
            </div>
            <h5 i18n>Luxury Car Protection</h5>
            <p i18n class="lead">
              Our ceramic coating ensures long-lasting protection for luxury
              vehicles, preserving their shine and guarding against scratches
              and environmental damage.
            </p>
          </div>
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <img
                src="https://meek-mermaid-ea40cf.netlify.app/icons/helicopter-side.svg"
                alt="aircraft"
              />
            </div>
            <h5 i18n>Aircraft Protection</h5>
            <p i18n class="lead">
              We provide nano technology coatings that protect aircraft from UV
              damage and corrosion, keeping them in excellent condition over
              time.
            </p>
          </div>
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <img
                src="https://meek-mermaid-ea40cf.netlify.app/icons/sailboat.svg"
                alt="yacht"
              />
            </div>
            <h5 i18n>Yacht Protection</h5>
            <p i18n class="lead">
              Our nano coatings offer protection against saltwater and UV rays,
              helping to maintain the yacht's appearance and durability.
            </p>
          </div>
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <img
                src="https://meek-mermaid-ea40cf.netlify.app/icons/moped.svg"
                alt="motorcycle"
              />
            </div>
            <h5 i18n>Motorcycle Protection</h5>
            <p i18n class="lead">
              Specialized nano coatings protect motorcycles from scratches and
              wear, ensuring they remain in great condition across various
              environments.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
