<section>
  <div class="container-fluid">
    <h4 class="xxl-head">
      <span data-aos="fade-left">O</span
      ><span data-aos="fade-left" data-aos-delay="100">u</span
      ><span data-aos="fade-left" data-aos-delay="200">r</span>
      <br />
      <span data-aos="fade-left" data-aos-delay="300">S</span
      ><span data-aos="fade-left" data-aos-delay="400">o</span
      ><span data-aos="fade-left" data-aos-delay="500">l</span
      ><span data-aos="fade-left" data-aos-delay="600">u</span
      ><span data-aos="fade-left" data-aos-delay="700">t</span
      ><span data-aos="fade-left" data-aos-delay="800">i</span
      ><span data-aos="fade-left" data-aos-delay="900">o</span
      ><span data-aos="fade-left" data-aos-delay="1000">n</span
      ><span data-aos="fade-left" data-aos-delay="1100">s</span>
    </h4>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right">
        <div class="text">
          <p class="lead">
            At Royal Nano® we are bold. The aircraft is just a tool we use to
            get you where you want to be. Our clients enjoy much more value for
            their investment, accessing unparalleled personalisation when flying
            private.
          </p>
          <p class="lead">
            We offer
            <span class="fw-bold">personalised experiences</span> with our
            <span class="fw-bold">on-demand</span> charters and
            <span class="fw-bold">personalised flexibility</span> with our
            exclusive <span class="fw-bold">shared flight</span>. We upgrade the
            way you fly.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-cards">
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 256 256"
                class="IconItem_icon__cHlgr"
              >
                <rect width="256" height="256" fill="none"></rect>
                <line
                  x1="152"
                  y1="112"
                  x2="192"
                  y2="112"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="8"
                ></line>
                <line
                  x1="152"
                  y1="144"
                  x2="192"
                  y2="144"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="8"
                ></line>
                <circle
                  cx="92.10043"
                  cy="120"
                  r="24"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="8"
                ></circle>
                <path
                  d="M61.10869,167.99952a32.01032,32.01032,0,0,1,61.98292-.00215"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="8"
                ></path>
                <rect
                  x="32"
                  y="48.00005"
                  width="192"
                  height="160"
                  rx="8"
                  stroke-width="8"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                ></rect>
              </svg>
            </div>
            <h5>Rewarding Membership</h5>
            <p class="lead">
              Our membership blends the advantage of a jet card with the
              easiness of a loyalty program. Get access to services not
              available anywhere without hefty fees.
            </p>
          </div>
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 256 256"
                class="IconItem_icon__cHlgr"
              >
                <rect width="256" height="256" fill="none"></rect>
                <line
                  x1="200"
                  y1="56"
                  x2="56"
                  y2="200"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="8"
                ></line>
                <line
                  x1="32"
                  y1="72"
                  x2="112"
                  y2="72"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="8"
                ></line>
                <line
                  x1="72"
                  y1="32"
                  x2="72"
                  y2="112"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="8"
                ></line>
                <line
                  x1="144"
                  y1="184"
                  x2="224"
                  y2="184"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="8"
                ></line>
              </svg>
            </div>
            <h5>Rewarding Membership</h5>
            <p class="lead">
              Our membership blends the advantage of a jet card with the
              easiness of a loyalty program. Get access to services not
              available anywhere without hefty fees.
            </p>
          </div>
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 256 256"
                class="IconItem_icon__cHlgr"
              >
                <rect width="256" height="256" fill="none"></rect>
                <line
                  x1="160"
                  y1="96"
                  x2="24"
                  y2="232"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="8"
                ></line>
                <path
                  d="M46.783,209.217A128.08756,128.08756,0,0,1,209.217,46.783,128.08756,128.08756,0,0,1,46.783,209.217Z"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="8"
                ></path>
              </svg>
            </div>
            <h5>Rewarding Membership</h5>
            <p class="lead">
              Our membership blends the advantage of a jet card with the
              easiness of a loyalty program. Get access to services not
              available anywhere without hefty fees.
            </p>
          </div>
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 256 256"
                class="IconItem_icon__cHlgr"
              >
                <rect width="256" height="256" fill="none"></rect>
                <rect
                  x="64"
                  y="24"
                  width="128"
                  height="208"
                  rx="16"
                  stroke-width="8"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                ></rect>
                <line
                  x1="64"
                  y1="56"
                  x2="192"
                  y2="56"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="8"
                ></line>
                <line
                  x1="64"
                  y1="200"
                  x2="192"
                  y2="200"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="8"
                ></line>
              </svg>
            </div>
            <h5>Rewarding Membership</h5>
            <p class="lead">
              Our membership blends the advantage of a jet card with the
              easiness of a loyalty program. Get access to services not
              available anywhere without hefty fees.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
