@if (lang == 'en') {
<section>
  <div class="container-fluid">
    <h4 class="xxl-head">
      <span data-aos="fade-left">O</span
      ><span data-aos="fade-left" data-aos-delay="100">u</span
      ><span data-aos="fade-left" data-aos-delay="200">r</span>
      <br />
      <span data-aos="fade-left" data-aos-delay="300">S</span
      ><span data-aos="fade-left" data-aos-delay="400">o</span
      ><span data-aos="fade-left" data-aos-delay="500">l</span
      ><span data-aos="fade-left" data-aos-delay="600">u</span
      ><span data-aos="fade-left" data-aos-delay="700">t</span
      ><span data-aos="fade-left" data-aos-delay="800">i</span
      ><span data-aos="fade-left" data-aos-delay="900">o</span
      ><span data-aos="fade-left" data-aos-delay="1000">n</span
      ><span data-aos="fade-left" data-aos-delay="1100">s</span>
    </h4>

    <div class="row">
      <img src="/logo.png" alt="" class="logo-trns" />
      <div class="col-lg-6" data-aos="fade-right">
        <div class="text">
          <p class="lead">
            Royal Nano Ceramic offers advanced protection services for vehicles,
            aircraft, boats, and motorcycles in Egypt. Using the best
            international materials and modern nano-ceramic technologies, the
            company ensures top-level protection and quality, delivering a
            unique experience that makes them the leading choice in the market.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-cards">
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <img src="./icons/car-alt.svg" alt="car" />
            </div>
            <h5>Luxury Car Protection</h5>
            <p class="lead">
              Our ceramic coating ensures long-lasting protection for luxury
              vehicles, preserving their shine and guarding against scratches
              and environmental damage.
            </p>
          </div>
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <img src="./icons/helicopter-side.svg" alt="aircraft" />
            </div>
            <h5>Aircraft Protection</h5>
            <p class="lead">
              We provide nano technology coatings that protect aircraft from UV
              damage and corrosion, keeping them in excellent condition over
              time.
            </p>
          </div>
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <img src="./icons/sailboat.svg" alt="yacht" />
            </div>
            <h5>Yacht Protection</h5>
            <p class="lead">
              Our nano coatings offer protection against saltwater and UV rays,
              helping to maintain the yacht's appearance and durability.
            </p>
          </div>
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <img src="./icons/moped.svg" alt="motorcycle" />
            </div>
            <h5>Motorcycle Protection</h5>
            <p class="lead">
              Specialized nano coatings protect motorcycles from scratches and
              wear, ensuring they remain in great condition across various
              environments.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

} @else if(lang == 'ar'){
<section>
  <div class="container-fluid">
    <h4 class="xxl-head" data-aos="fade-up">حلولنا</h4>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right">
        <div class="text">
          <p class="lead">
            تقدم شركة رويال نانو سيراميك خدمات حماية متقدمة للسيارات والطائرات
            والقوارب والدراجات النارية في مصر، باستخدام أفضل المواد العالمية
            وتقنيات النانو سيراميك الحديثة، لضمان أعلى مستويات الحماية والجودة
            وتقديم تجربة فريدة تجعلها الخيار الأول في السوق.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-cards">
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <img src="./icons/car-alt.svg" alt="سيارة" />
            </div>
            <h5>حماية السيارات الفاخرة</h5>
            <p class="lead">
              توفر طلاءات السيراميك لدينا حماية طويلة الأمد للسيارات الفاخرة،
              تحافظ على لمعانها وتحميها من الخدوش والعوامل البيئية.
            </p>
          </div>
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <img src="./icons/helicopter-side.svg" alt="طائرة" />
            </div>
            <h5>حماية الطائرات</h5>
            <p class="lead">
              نقدم طلاءات بتقنية النانو التي تحمي الطائرات من أضرار الأشعة فوق
              البنفسجية والتآكل، مما يحافظ على حالتها الممتازة مع مرور الوقت.
            </p>
          </div>
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <img src="./icons/sailboat.svg" alt="يخت" />
            </div>
            <h5>حماية اليخوت</h5>
            <p class="lead">
              توفر طلاءاتنا بتقنية النانو حماية فعالة ضد مياه البحر والأشعة فوق
              البنفسجية، مما يساعد في الحفاظ على مظهر اليخت ومتانته.
            </p>
          </div>
          <div class="service-card" data-aos="fade-left">
            <div class="svg">
              <img src="./icons/moped.svg" alt="دراجة نارية" />
            </div>
            <h5>حماية الدراجات النارية</h5>
            <p class="lead">
              طلاءات النانو المتخصصة تحمي الدراجات النارية من الخدوش والتآكل،
              مما يضمن بقاءها في حالة ممتازة في مختلف البيئات.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

}
