RewriteEngine On

# Allow root access by setting a default directory index
DirectoryIndex index.html

# Redirect users to /ar/ if they access the root
RewriteCond %{REQUEST_URI} ^/?$
RewriteRule ^$ /ar/ [R=301,L]

# Ensure Angular handles routes correctly inside /ar and /en-US
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(ar|en-US)/(.*)$ /$1/index.html [L]
