<section>
  <div class="container">
    <div class="intro">
      <div>
        <span class="label"> {{ blog.label }} </span>
      </div>
      <h1 data-aos="fade-right">{{ blog.heading }}</h1>
      <p data-aos="fade-left">
        {{ blog.subHeading }}
      </p>
      <span class="date" data-aos="zoom-in"> {{ blog.date }} </span>
    </div>
    <div class="landscape-img" data-aos="zoom-in">
      <img [src]="blog.img" alt="blog image" class="w-100" />
    </div>

    <div class="content">
      @for (point of blog.points; track $index) {
      <div class="point" data-aos="fade-left">
        <h4>{{ point.head }}</h4>
        <p>{{ point.body }}</p>
      </div>
      }
    </div>
  </div>
</section>
