<section class="top">
  <div class="container">
    <div class="row g-3 align-items-center">
      <div class="col-lg-6">
        <div class="text">
          <h1 i18n>Join Royal Nano Ceramic Team</h1>
          <h3 i18n class="lead text-black-50 mb-3">
            Royal Nano Ceramic always ready to work with all potential caders
          </h3>
          <a
            i18n
            (click)="scrollToForm()"
            class="btn btn-outline-dark rounded-pill px-4"
            >Apply Now</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <img src="./imgs/team.jpg" alt="team" class="w-100" />
      </div>
    </div>
  </div>
</section>

<section class="form-sec">
  <div id="applyFormParent" class="container my-5">
    <div class="card shadow">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2 class="text-center mb-4">Applicant Form</h2>
          <form [formGroup]="applicantForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label i18n for="name">Full Name</label>
                  <input
                    i18n-placeholder="From placeholder"
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-control"
                    placeholder="Enter your full name"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label i18n for="birthdate">Birthdate</label>
                  <input
                    i18n-placeholder="From placeholder"
                    type="date"
                    id="birthdate"
                    formControlName="birthdate"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <label i18n for="email">Email</label>
              <input
                i18n-placeholder="From placeholder"
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
                placeholder="Enter your email"
              />
            </div>

            <div class="form-group mb-3">
              <label i18n for="phone">Phone Number</label>
              <input
                i18n-placeholder="From placeholder"
                type="tel"
                id="phone"
                formControlName="phone"
                class="form-control"
                placeholder="Enter your phone number"
              />
            </div>

            <div class="form-group mb-3">
              <label i18n for="address">Address</label>
              <input
                i18n-placeholder="From placeholder"
                type="text"
                id="address"
                formControlName="address"
                class="form-control"
                placeholder="Enter your address"
              />
            </div>

            <div class="form-group mb-3">
              <label i18n for="role">Select a Role</label>
              <select id="role" class="form-control" formControlName="position">
                <option i18n value="">-- Select Position --</option>
                <option i18n value="sales-manager">Sales Manager</option>
                <option i18n value="tele-sales">Tele Sales</option>
                <option i18n value="tele-sales-leader">
                  Tele Sales Team Leader
                </option>
                <option i18n value="indoor-sales">
                  Indoor Sales "Special Conditions"
                </option>
                <option i18n value="outdoor-sales">
                  Outdoor Sales "Special Conditions"
                </option>
                <option i18n value="secretary">Secretary</option>
                <option i18n value="polish-nano-technician">
                  Polish & Nano Technician
                </option>
                <option i18n value="protection-technician">
                  Protection Technician
                </option>
                <option i18n value="assistant-training">
                  Assistant / Training
                </option>
                <option i18n value="branch-manager-experienced">
                  Experienced Branch Manager
                </option>
              </select>
            </div>

            <div class="form-group mb-4">
              <label i18n for="cv">Upload CV</label>
              <input
                type="file"
                id="cv"
                class="form-control"
                formControlName="cv"
                (change)="onFileSelected($event)"
              />
            </div>

            <div class="form-group mb-4">
              <label i18n for="cover-letter">Cover Letter</label>
              <textarea
                i18n-placeholder="From placeholder"
                id="cover-letter"
                formControlName="coverLetter"
                class="form-control"
                rows="5"
                placeholder="Write a short cover letter"
              ></textarea>
            </div>

            <button
              i18n
              type="submit"
              class="btn btn-primary btn-block"
              [disabled]="applicantForm.invalid"
            >
              Submit Application
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
