<footer class="py-5 bg-black text-white">
  <div class="container-fluid">
    <div class="logo-wrapper">
      <a href="/" class="logo">
        <img src="./logo.png" alt="royal nano" />
      </a>
      <div class="d-block d-lg-none">
        <span i18n class="footer-heading">Follow Us</span>

        <ul class="list-unstyled social-links">
          <li>
            <a
              href="https://www.facebook.com/RoyalNanoCeramic"
              target="_blank"
              class="social-link"
            >
              <img
                src="https://meek-mermaid-ea40cf.netlify.app/facebook-logo.png"
                alt="facebook"
                class="w-100"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/royalnanoceramic"
              target="_blank"
              class="social-link"
            >
              <img
                src="https://meek-mermaid-ea40cf.netlify.app/instagram-logo.png"
                alt="instagram"
                class="w-100"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.tiktok.com/@royalnanoceramic"
              target="_blank"
              class="social-link"
            >
              <img
                src="https://meek-mermaid-ea40cf.netlify.app/tik-tok.png"
                alt="tik-tok"
                class="w-100"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row g-3 row-gap-5">
      <div class="col-lg-3 d-none d-lg-block">
        <div>
          <span i18n class="footer-heading">Follow Us</span>

          <ul class="list-unstyled social-links">
            <li>
              <a
                href="https://www.facebook.com/RoyalNanoCeramic"
                target="_blank"
                class="social-link"
              >
                <img
                  src="https://meek-mermaid-ea40cf.netlify.app/icons/facebook-logo.png"
                  alt="facebook"
                  class="w-100"
                />
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/royalnanoceramic"
                target="_blank"
                class="social-link"
              >
                <img
                  src="https://meek-mermaid-ea40cf.netlify.app/icons/instagram-logo.png"
                  alt="instagram"
                  class="w-100"
                />
              </a>
            </li>
            <li>
              <a
                href="https://www.tiktok.com/@royalnanoceramic"
                target="_blank"
                class="social-link"
              >
                <img
                  src="https://meek-mermaid-ea40cf.netlify.app/icons/tik-tok.png"
                  alt="tik-tok"
                  class="w-100"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div>
          <span i18n class="footer-heading">Company</span>
          <ul class="list-unstyled my-list">
            <li>
              <a i18n routerLink="/about">About Us</a>
            </li>
            <li>
              <a i18n routerLink="/services">Services</a>
            </li>
            <li>
              <a i18n routerLink="/contact">Contact</a>
            </li>
            <li>
              <a i18n routerLink="/careers">Careers</a>
            </li>
            <li>
              <a i18n routerLink="/privacy-policy">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div>
          <span i18n class="footer-heading">Branches</span>
          <ul class="list-unstyled my-list">
            <li><span i18n>October</span></li>
            <li><span i18n>Nasr City</span></li>
            <li><span i18n>Mohandessin</span></li>
            <li><span i18n>Sheikh Zayed</span></li>
            <li><span i18n>Alexandria</span></li>
            @if (allBranches) {
            <li><span i18n>Sohag</span></li>
            <li><span i18n>Hurghada</span></li>
            <li><span i18n>Tanta</span></li>
            <li><span i18n>Mansoura</span></li>
            <li><span i18n>Zagazig</span></li>
            <li><span i18n>Ismailia</span></li>
            <li><span i18n>Port Said</span></li>
            <li><span i18n>Suez</span></li>
            <li><span i18n>Minya</span></li>
            <li><span i18n>Assiut</span></li>
            }

            <li>
              <span i18n class="see-all" (click)="allBranches = !allBranches"
                >See All</span
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div>
          <span i18n class="footer-heading">Reach out!</span>
          <ul class="list-unstyled my-list">
            <li>
              <a href="tel:+201032222542">+20 103 2222 542</a>
            </li>

            <li>
              <a href="mailto:contact@royalnanoceramic.com"
                >contact&#64;royalnanoceramic.com</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-9">
        <p i18n class="lead">
          Royal Nano Ceramic is a leading car protection company in Egypt,
          offering advanced nano ceramic coatings to protect and enhance vehicle
          exteriors. They specialize in paint protection, scratch resistance,
          and hydrophobic coatings, ensuring cars remain in top condition.
        </p>
      </div>
    </div>
  </div>
</footer>
