<div class="bg">
  <header>
    <img
      src="https://meek-mermaid-ea40cf.netlify.app/logo.png"
      alt="Royal nano logo"
      class="logo-trns"
    />
    <div class="container-fluid">
      <h1 i18n class="back">Gallery</h1>
      <div class="my-carousel">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="my-img">
              <img
                src="https://meek-mermaid-ea40cf.netlify.app/imgs/gallryTop1.jpeg"
                class="slider-img"
                alt="car image"
                data-aos="fade-up"
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="my-img">
              <img
                src="https://meek-mermaid-ea40cf.netlify.app/imgs/gallryTop2.jpeg"
                class="slider-img"
                alt="car image"
                data-aos="fade-up"
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="my-img">
              <img
                src="https://meek-mermaid-ea40cf.netlify.app/imgs/gallryTop3.jpeg"
                class="slider-img"
                alt="car image"
                data-aos="fade-up"
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="my-img">
              <img
                src="https://meek-mermaid-ea40cf.netlify.app/imgs/gallryTop4.jpeg"
                class="slider-img"
                alt="car image"
                data-aos="fade-up"
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="my-img">
              <img
                src="https://meek-mermaid-ea40cf.netlify.app/imgs/gallryTop5.jpeg"
                class="slider-img"
                alt="car image"
                data-aos="fade-up"
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="my-img">
              <img
                src="https://meek-mermaid-ea40cf.netlify.app/imgs/gallryTop6.jpeg"
                class="slider-img"
                alt="car image"
                data-aos="fade-up"
              />
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </header>

  <div class="container-fluid fluid mt-3">
    <h2 i18n class="fw-medium mb-3 text-center">Latest Shots</h2>
    <nav class="mb-3">
      <button i18n class="filter-btn" (click)="images = true">Images</button>
      <button i18n class="filter-btn" (click)="images = false">Videos</button>
    </nav>

    @if (images) {
    <app-images></app-images>
    } @else {
    <app-videos></app-videos>
    }
  </div>
</div>
