@if (lang == 'en') {
<nav>
  <a routerLink="/" class="logo">
    <h3 class="fw-bold text-white mb-0">
      <img src="./logo.png" alt="royal nano" />
    </h3>
  </a>

  <div class="navigation-wrapper" [ngClass]="{ active: nav }">
    <div class="d-block d-lg-none">
      <button class="btn esc-btn" (click)="nav = false">
        <i class="fa fa-xmark fs-3"></i>
      </button>
    </div>
    <ul class="navigation list-unstyled">
      <li>
        <a
          [routerLink]="['/home']"
          routerLinkActive="active"
          (click)="closeMinu()"
          class="nav-link active"
        >
          Home
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/about']"
          routerLinkActive="active"
          (click)="closeMinu()"
          class="nav-link"
        >
          About
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/services']"
          routerLinkActive="active"
          (click)="closeMinu()"
          class="nav-link"
        >
          Services
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/blog']"
          routerLinkActive="active"
          (click)="closeMinu()"
          class="nav-link"
        >
          Blog
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/gallery']"
          routerLinkActive="active"
          (click)="closeMinu()"
          class="nav-link"
        >
          Gallery
        </a>
      </li>
      <!-- <li class="my-dropdown">
        <span 
        (click)="closeMinu()"
        class="nav-link"> Gallery </span>
        <ul class="gallery-modal list-unstyled">
          <li><a [routerLink]="['/videos']">Videos</a></li>
          <li><a [routerLink]="['/gallery']">Images</a></li>
        </ul>
      </li> -->
      <li>
        <a
          [routerLink]="['/contact']"
          routerLinkActive="active"
          (click)="closeMinu()"
          class="nav-link"
        >
          Contact
        </a>
      </li>
      <li>
        <button class="btn lang-btn" (click)="changeLang('ar')">Ar</button>
      </li>
    </ul>
  </div>

  <div class="d-block d-lg-none">
    <button class="toggle-btn" (click)="nav = true">
      <i class="fa fa-bars"></i>
    </button>
  </div>
</nav>

} @else if (lang == 'ar') {
<div class="nav-wrapper">
  <nav>
    <div class="logo">
      <h3 class="fw-bold text-white mb-0">
        <img src="./logo.png" alt="royal nano" />
      </h3>
    </div>

    <div class="navigation-wrapper" [ngClass]="{ active: nav }">
      <div class="text-end d-block d-lg-none">
        <button class="btn esc-btn" (click)="nav = false">
          <i class="fa fa-xmark fs-3"></i>
        </button>
      </div>
      <ul class="navigation list-unstyled">
        <li>
          <a
            [routerLink]="['/home']"
            routerLinkActive="active"
            (click)="closeMinu()"
            class="nav-link active"
          >
            الرئيسية
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/about']"
            routerLinkActive="active"
            (click)="closeMinu()"
            class="nav-link"
          >
            من نحن
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/services']"
            routerLinkActive="active"
            (click)="closeMinu()"
            class="nav-link"
          >
            الخدمات
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/blog']"
            routerLinkActive="active"
            (click)="closeMinu()"
            class="nav-link"
          >
            المدونة
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/gallery']"
            routerLinkActive="active"
            (click)="closeMinu()"
            class="nav-link"
          >
            المعرض
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/contact']"
            routerLinkActive="active"
            (click)="closeMinu()"
            class="nav-link"
          >
            تواصل معنا
          </a>
        </li>

        <li>
          <button class="btn lang-btn" (click)="changeLang('en')">En</button>
        </li>
      </ul>
    </div>

    <div class="d-block d-lg-none">
      <button class="toggle-btn" (click)="nav = true">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </nav>
</div>
}
