nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.517),
    transparent
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  direction: ltr !important;
}
.logo img {
  width: 81px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.navigation .nav-link {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 25px;
  position: relative;
}

.navigation .nav-link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: aliceblue;
}

.toggle-btn {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 25px;
}
@media (max-width: 991.98px) {
  .nav-wrapper {
    padding: 0;
  }
  nav {
    padding: 10px;
    border-radius: 0;
  }

  .navigation-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 350px;
    height: 100vh;
    background-color: rgb(231, 231, 231);
    z-index: 9999999999;
    padding: 30px 20px;
    transition: 0.3s;
    transform: translateX(110%);
    box-shadow: 0 -10px 30px rgba(71, 44, 44, 0.595);
  }
  .navigation-wrapper.active {
    transform: translateX(0);
  }
  .navigation .nav-link.active::before {
    background-color: black;
  }
  .navigation-wrapper .navigation .nav-link {
    color: black !important;
    padding: 10px;
    margin-bottom: 2px;
    transition: 0.3s;
    width: 100%;
  }
  .navigation-wrapper .navigation .nav-link:hover {
    background-color: #eee;
  }
  .navigation {
    flex-direction: column;
    align-items: start;
  }
}

.hidden {
  transform: translateY(-100%);
}
