nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.73),
    transparent
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  direction: ltr !important;
}
.logo img {
  width: 60px;
  padding: 10px 5px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.navigation .nav-link {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 25px;
  position: relative;
}
.navigation .nav-link.active {
  color: rgb(255, 217, 0);
  scale: 1.1;
}

.toggle-btn {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 25px;
}
.lang-btn {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}
.esc-btn {
  margin-bottom: 20px;
  transform: scale(1.3);
}
@media (max-width: 991.98px) {
  .nav-wrapper {
    padding: 0;
  }
  nav {
    padding: 10px;
    border-radius: 0;
  }
  .lang-btn {
    color: black;
  }

  .navigation-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 350px;
    height: 100vh;
    background-color: rgb(231, 231, 231);
    z-index: 9999999999;
    padding: 30px;
    transition: 0.3s;
    transform: translateX(110%);
    box-shadow: 0 -10px 30px rgba(71, 44, 44, 0.595);
  }
  .navigation-wrapper.active {
    transform: translateX(0);
  }
  .navigation .nav-link.active::before {
    content: none;
  }
  .navigation-wrapper .navigation {
    display: block;
  }
  .navigation-wrapper .navigation .nav-link {
    color: black !important;
    padding: 12px 0 12px 20px;
    margin-bottom: 5px;
    transition: 0.3s;
    display: block !important;
    border-radius: 50px;
    width: 100%;
  }
  .navigation-wrapper .navigation .nav-link.active,
  .navigation-wrapper .navigation .nav-link:hover {
    background-color: #bfbfbf82;
    scale: 1;
  }
  .navigation {
    flex-direction: column;
    align-items: start;
  }
}
