<section class="py-5">
  <div class="container">
    <h1 i18n class="text-center">Service Confirmation</h1>
    <hr />

    <form
      class="warranty-form my-5"
      [formGroup]="warrantyForm"
      (ngSubmit)="activateWarranty()"
    >
      <div class="input-parent">
        <!-- <label for="name">Name:</label> -->
        <input
          i18n-placeholder="From placeholder"
          type="text"
          id="name"
          placeholder="Your name"
          formControlName="name"
          #nameInput
        />
        <div
          class="vlidationMessage"
          [ngClass]="{
            active:
              warrantyForm.get('name')?.errors &&
              (warrantyForm.get('name')?.touched || nameInput.value.length > 0)
          }"
        >
          <p i18n>Name Should be at least 3 characters</p>
        </div>
      </div>
      <div class="input-parent">
        <!-- <label for="phone">Phone Number:</label> -->
        <input
          i18n-placeholder="From placeholder"
          type="tel"
          id="phone"
          placeholder="Phone number"
          formControlName="phoneNumber"
          #phoneInput
        />
        <div
          class="vlidationMessage"
          [ngClass]="{
            active:
              validationErrorMessages &&
              (warrantyForm.get('phoneNumber')?.touched ||
                phoneInput.value.length > 0)
          }"
        >
          <p i18n>
            {{ getPhoneValidationMessage() }}
          </p>
        </div>
      </div>
      <div class="input-parent">
        <input
          i18n-placeholder="From placeholder"
          type="date"
          id="birthdate"
          placeholder="Birthdate"
          formControlName="birthdate"
          #date
        />
        <div
          class="vlidationMessage"
          [ngClass]="{
            active:
              warrantyForm.get('birthdate')?.errors &&
              (warrantyForm.get('birthdate')?.touched || date.value.length > 0)
          }"
        >
          <p i18n>Required</p>
        </div>
      </div>
      <div class="input-parent">
        <!-- <label for="address">Address</label> -->
        <input
          i18n-placeholder="From placeholder"
          type="text"
          id="address"
          placeholder="Your Address"
          formControlName="address"
          #address
        />
        <div
          class="vlidationMessage"
          [ngClass]="{
            active:
              warrantyForm.get('address')?.errors &&
              (warrantyForm.get('address')?.touched || address.value.length > 0)
          }"
        >
          <p i18n>Address should be valid</p>
        </div>
      </div>
      <div class="input-parent">
        <!-- <label for="brand">Brand</label> -->
        <input
          i18n-placeholder="From placeholder"
          type="text"
          id="brand"
          placeholder="Car brand"
          formControlName="brand"
          #brand
        />
        <div
          class="vlidationMessage"
          [ngClass]="{
            active:
              warrantyForm.get('brand')?.errors &&
              (warrantyForm.get('brand')?.touched || brand.value.length > 0)
          }"
        >
          <p i18n>Required</p>
        </div>
      </div>
      <div class="input-parent">
        <!-- <label for="model">Model</label> -->
        <input
          i18n-placeholder="From placeholder"
          type="text"
          id="model"
          placeholder="Car model Ex: 2024"
          formControlName="model"
          #model
        />
        <div
          class="vlidationMessage"
          [ngClass]="{
            active:
              warrantyForm.get('model')?.errors &&
              (warrantyForm.get('model')?.touched || model.value.length > 0)
          }"
        >
          <p i18n>Required and should be valid</p>
        </div>
      </div>
      <div class="input-parent">
        <!-- <label for="color">Color</label> -->
        <input
          i18n-placeholder="From placeholder"
          type="text"
          id="color"
          placeholder="Car color"
          formControlName="color"
          #color
        />
        <div
          class="vlidationMessage"
          [ngClass]="{
            active:
              warrantyForm.get('color')?.errors &&
              (warrantyForm.get('color')?.touched || color.value.length > 0)
          }"
        >
          <p i18n>Required</p>
        </div>
      </div>
      <div class="input-parent">
        <!-- <label for="email">Email:</label> -->
        <input
          i18n-placeholder="From placeholder"
          type="email"
          id="email"
          placeholder="Your Email"
          formControlName="email"
          #email
        />
        <div
          class="vlidationMessage"
          [ngClass]="{
            active:
              warrantyForm.get('email')?.errors &&
              (warrantyForm.get('email')?.touched || email.value.length > 0)
          }"
        >
          <p i18n>Please enter a valid Email address</p>
        </div>
      </div>

      <div class="input-parent">
        <label for="customFile">Warranty Image</label>
        <input
          i18n-placeholder="From placeholder"
          type="file"
          class="form-control"
          id="customFile"
          (change)="onFileSelected($event)"
          formControlName="image"
        />
        <div
          class="vlidationMessage"
          [ngClass]="{
            active:
              warrantyForm.get('image')?.errors &&
              warrantyForm.get('image')?.touched
          }"
        >
          <p i18n>Required</p>
        </div>
      </div>
      <div>
        <button i18n class="btn-form" type="submit">
          Submit @if (loading) {
          <i class="fa-solid fa-spinner fa-spin ms-2"></i>
          }
        </button>
      </div>
    </form>
    <hr />
  </div>
</section>

<div
  class="ownedByTab"
  [ngClass]="{ active: ownedByTab }"
  (click)="ownedByTab = false"
>
  <div class="my-card">
    <h3 i18n>Sorry this serial number owned by mr: {{ ownedBy.name }}</h3>
    <h4 i18n>His phone number is ( ******** {{ ownedBy.phoneNumber }} )</h4>
  </div>
</div>
