<header>
  <div class="container mt-5 mt-md-0">
    <div class="row align-items-center g-4">
      @if (lang == 'en') {
      <div class="col-md-6" data-aos="fade-right">
        <div class="intro">
          <h4 class="text-white-50">Royal Nano</h4>
          <h1 class="fw-bold">
            Number <span class="light-blue">#1</span> car protection service in
            egypt
          </h1>
          <p class="my-text-light d-none d-sm-block">
            Protect your vehicle with Royal Nano's #1 nano-ceramic coatings,
            hybrid technologies, and premium paint films.
          </p>
        </div>
      </div>
      } @else {
      <div class="col-md-6" data-aos="fade-right">
        <div class="intro">
          <h4 class="text-white-50">رويال نانو</h4>
          <h1 class="fw-bold">
            خدمة حماية السيارات <span class="light-blue">#1</span> في مصر
          </h1>
          <p class="my-text-light d-none d-sm-block">
            احمِ سيارتك مع خدمات رويال نانو رقم 1 باستخدام الطلاءات النانوية
            الخزفية، والتقنيات الهجينة، والأفلام الواقية المتميزة.
          </p>
        </div>
      </div>

      }
      <div class="col-md-6" data-aos="fade-left">
        <div class="my-header-cols">
          <div class="my-header-col one">
            <div class="my-card" *ngFor="let card of headerContent1">
              <h3 class="text" [ngStyle]="{ color: card.color }">
                {{ card.text }}
              </h3>
              <div class="numbers">
                <h4 [ngStyle]="{ color: card.color }">{{ card.numbers }}</h4>
              </div>
            </div>
          </div>
          <div class="my-header-col two">
            <div class="my-card" *ngFor="let card of headerContent2">
              <h3 class="text" [ngStyle]="{ color: card.color }">
                {{ card.text }}
              </h3>
              <div class="numbers">
                <h4 [ngStyle]="{ color: card.color }">{{ card.numbers }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
