.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards .my-card {
  width: 48%;
}
.custom-radius {
  border-radius: 20px 0 0 0;
}
.radius-bottom-right {
  border-radius: 0 0 20px 0;
}
