<section class="py-5">
  <div class="row g-4">
    <div class="col-md-4">
      <h2 class="h1 mb-5">Behind Royal Nano</h2>
      <p class="lead text-black-50">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti itaque
        vitae, optio veniam eum quasi! Ipsa voluptates eius aliquam inventore,
        nemo molestias accusantium dolore corrupti perspiciatis numquam omnis
        dolorum voluptate.
      </p>
    </div>
    <div class="col-md-8">
      <div class="cards">
        <div class="my-card">
          <div class="img mb-4">
            <img
              src="https://images.pexels.com/photos/9408923/pexels-photo-9408923.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
              alt="before"
              class="w-100"
              style="border-radius: 20px 0 0 0"
            />
          </div>

          <div>
            <h3 class="mb-0">heading</h3>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ea.
            </p>
          </div>
        </div>
        <div class="my-card">
          <div class="img mb-4">
            <img
              src="https://images.pexels.com/photos/9408923/pexels-photo-9408923.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
              alt="before"
              class="w-100"
              style="border-radius: 0 0 20px 0"
            />
          </div>

          <div>
            <h3 class="mb-0">heading</h3>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ea.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
