<section class="py-5">
  @if (lang == 'en') {
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="carousel-card">
        <div class="carousel-img">
          <img
            src="https://images.pexels.com/photos/3777943/pexels-photo-3777943.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
            alt=""
          />
        </div>
        <div class="carousel-body">
          @if (lang == 'en') {
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium, ea.
          </p>
          } @else {
          <h4>الاسم</h4>
          <p>
            لوريم إيبسوم دولار سيت أميت، كونسيكتيتور أديبيسيسينغ إيليت.
            أكوزانتيم، إي.
          </p>
          }
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel-card">
        <div class="carousel-img">
          <img
            src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt=""
          />
        </div>
        <div class="carousel-body">
          @if (lang == 'en') {
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium, ea.
          </p>
          } @else {
          <h4>الاسم</h4>
          <p>
            لوريم إيبسوم دولار سيت أميت، كونسيكتيتور أديبيسيسينغ إيليت.
            أكوزانتيم، إي.
          </p>
          }
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel-card">
        <div class="carousel-img">
          <img
            src="https://images.pexels.com/photos/3785110/pexels-photo-3785110.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt=""
          />
        </div>
        <div class="carousel-body">
          @if (lang == 'en') {
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium, ea.
          </p>
          } @else {
          <h4>الاسم</h4>
          <p>
            لوريم إيبسوم دولار سيت أميت، كونسيكتيتور أديبيسيسينغ إيليت.
            أكوزانتيم، إي.
          </p>
          }
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel-card">
        <div class="carousel-img">
          <img
            src="https://images.pexels.com/photos/3782798/pexels-photo-3782798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt=""
          />
        </div>
        <div class="carousel-body">
          @if (lang == 'en') {
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium, ea.
          </p>
          } @else {
          <h4>الاسم</h4>
          <p>
            لوريم إيبسوم دولار سيت أميت، كونسيكتيتور أديبيسيسينغ إيليت.
            أكوزانتيم، إي.
          </p>
          }
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel-card">
        <div class="carousel-img">
          <img
            src="https://images.pexels.com/photos/1165641/pexels-photo-1165641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt=""
          />
        </div>
        <div class="carousel-body">
          @if (lang == 'en') {
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium, ea.
          </p>
          } @else {
          <h4>الاسم</h4>
          <p>
            لوريم إيبسوم دولار سيت أميت، كونسيكتيتور أديبيسيسينغ إيليت.
            أكوزانتيم، إي.
          </p>
          }
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel-card">
        <div class="carousel-img">
          <img
            src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
            alt=""
          />
        </div>
        <div class="carousel-body">
          @if (lang == 'en') {
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium, ea.
          </p>
          } @else {
          <h4>الاسم</h4>
          <p>
            لوريم إيبسوم دولار سيت أميت، كونسيكتيتور أديبيسيسينغ إيليت.
            أكوزانتيم، إي.
          </p>
          }
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  } @else {
  <owl-carousel-o [options]="customOptionsAr">
    <ng-template carouselSlide>
      <div class="carousel-card">
        <div class="carousel-img">
          <img
            src="https://images.pexels.com/photos/3777943/pexels-photo-3777943.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
            alt=""
          />
        </div>
        <div class="carousel-body">
          @if (lang == 'en') {
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium, ea.
          </p>
          } @else {
          <h4>الاسم</h4>
          <p>
            لوريم إيبسوم دولار سيت أميت، كونسيكتيتور أديبيسيسينغ إيليت.
            أكوزانتيم، إي.
          </p>
          }
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel-card">
        <div class="carousel-img">
          <img
            src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt=""
          />
        </div>
        <div class="carousel-body">
          @if (lang == 'en') {
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium, ea.
          </p>
          } @else {
          <h4>الاسم</h4>
          <p>
            لوريم إيبسوم دولار سيت أميت، كونسيكتيتور أديبيسيسينغ إيليت.
            أكوزانتيم، إي.
          </p>
          }
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel-card">
        <div class="carousel-img">
          <img
            src="https://images.pexels.com/photos/3785110/pexels-photo-3785110.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt=""
          />
        </div>
        <div class="carousel-body">
          @if (lang == 'en') {
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium, ea.
          </p>
          } @else {
          <h4>الاسم</h4>
          <p>
            لوريم إيبسوم دولار سيت أميت، كونسيكتيتور أديبيسيسينغ إيليت.
            أكوزانتيم، إي.
          </p>
          }
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel-card">
        <div class="carousel-img">
          <img
            src="https://images.pexels.com/photos/3782798/pexels-photo-3782798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt=""
          />
        </div>
        <div class="carousel-body">
          @if (lang == 'en') {
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium, ea.
          </p>
          } @else {
          <h4>الاسم</h4>
          <p>
            لوريم إيبسوم دولار سيت أميت، كونسيكتيتور أديبيسيسينغ إيليت.
            أكوزانتيم، إي.
          </p>
          }
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel-card">
        <div class="carousel-img">
          <img
            src="https://images.pexels.com/photos/1165641/pexels-photo-1165641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt=""
          />
        </div>
        <div class="carousel-body">
          @if (lang == 'en') {
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium, ea.
          </p>
          } @else {
          <h4>الاسم</h4>
          <p>
            لوريم إيبسوم دولار سيت أميت، كونسيكتيتور أديبيسيسينغ إيليت.
            أكوزانتيم، إي.
          </p>
          }
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel-card">
        <div class="carousel-img">
          <img
            src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
            alt=""
          />
        </div>
        <div class="carousel-body">
          @if (lang == 'en') {
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium, ea.
          </p>
          } @else {
          <h4>الاسم</h4>
          <p>
            لوريم إيبسوم دولار سيت أميت، كونسيكتيتور أديبيسيسينغ إيليت.
            أكوزانتيم، إي.
          </p>
          }
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  }
</section>
