<section class="py-5 mt-4">
  <div class="container-fluid">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/imgs/nermine-maher.jpg"
              alt=""
            />
          </div>
          <div class="carousel-body">
            <h4 i18n>Nermin Maher</h4>
            <p i18n>
              Their service is absolutely amazing! My car looks brand new again
              thanks to Royal Nano Ceramic protection. The team is incredibly
              professional.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/imgs/ahmed-rezk.jpg"
              alt=""
            />
          </div>
          <div class="carousel-body">
            <h4 i18n>Ahmad rezk</h4>
            <p i18n>
              There are no words to describe the service they provided at Royal
              Nano Ceramic. The protection is excellent, and my car looks brand
              new
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/imgs/maha-ahmed.jpg"
              alt=""
            />
          </div>
          <div class="carousel-body">
            <h4 i18n>Maha ahmad</h4>
            <p i18n>
              Royal Nano Ceramic is the perfect place to protect your car. The
              result was beyond amazing, and I'm very happy
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/imgs/nagaty.jpg"
              alt=""
            />
          </div>
          <div class="carousel-body">
            <h4 i18n>Mohamed nagaty</h4>
            <p i18n>
              Truly, the best car protection you can find is at Royal Nano
              Ceramic. Your car comes out looking completely transformed
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/imgs/hesham-ismaiel.jpg"
              alt=""
            />
          </div>
          <div class="carousel-body">
            <h4 i18n>Hesham Ismael</h4>
            <p i18n>
              You won’t find a better place to protect your car’s paint than
              Royal Nano Ceramic. Their service is top-notch and high-quality
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/imgs/ghada.jpg"
              alt=""
            />
          </div>
          <div class="carousel-body">
            <h4 i18n>Ghada Ibrahim</h4>
            <p i18n>
              If you want to keep your car shining all the time, Royal Nano
              Ceramic is the solution. I’m extremely satisfied with the results
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/imgs/mahmoud-hafiz.jpg"
              alt=""
            />
          </div>
          <div class="carousel-body">
            <h4 i18n>Mahmoud hafez</h4>
            <p i18n>
              Honestly, excellent service and quality I haven’t seen anywhere
              else. My car is now protected and looks great
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/imgs/enas-elnagar.jpg"
              alt=""
            />
          </div>
          <div class="carousel-body">
            <h4 i18n>Enas elnagar</h4>
            <p i18n>
              Royal Nano Ceramic truly takes care of every detail of your car. I
              see a big difference in my car’s protection after using their
              services
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/imgs/emad-rashad.webp"
              alt=""
            />
          </div>
          <div class="carousel-body">
            <h4 i18n>Emad Rashad</h4>
            <p i18n>
              The best protection and the most advanced technology for your car
              can be found at Royal Nano Ceramic. It was a wonderful experience
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/imgs/ahmed-salama.jpg"
              alt=""
            />
          </div>
          <div class="carousel-body">
            <h4 i18n>Ahmad salama</h4>
            <p i18n>
              Amazing service! My car is completely safe with Royal Nano
              Ceramic. Thanks to them for their professionalism
            </p>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
