<section class="py-5 mt-4">
  <div class="container-fluid">
    @if (lang == 'en') {
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/nermine-maher.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>Nermin Maher</h4>
            <p>
              Their service is absolutely amazing! My car looks brand new again
              thanks to Royal Nano Ceramic protection. The team is incredibly
              professional.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/ahmed-rezk.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>Ahmad rezk</h4>
            <p>
              There are no words to describe the service they provided at Royal
              Nano Ceramic. The protection is excellent, and my car looks brand
              new
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/maha-ahmed.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>Maha ahmad</h4>
            <p>
              Royal Nano Ceramic is the perfect place to protect your car. The
              result was beyond amazing, and I'm very happy
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/nagaty.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>Mohamed nagaty</h4>
            <p>
              Truly, the best car protection you can find is at Royal Nano
              Ceramic. Your car comes out looking completely transformed
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/hesham-ismaiel.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>Hesham Ismael</h4>
            <p>
              You won’t find a better place to protect your car’s paint than
              Royal Nano Ceramic. Their service is top-notch and high-quality
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/ghada.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>Ghada Ibrahim</h4>
            <p>
              If you want to keep your car shining all the time, Royal Nano
              Ceramic is the solution. I’m extremely satisfied with the results
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/mahmoud-hafiz.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>Mahmoud hafez</h4>
            <p>
              Honestly, excellent service and quality I haven’t seen anywhere
              else. My car is now protected and looks great
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/enas-elnagar.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>Enas elnagar</h4>
            <p>
              Royal Nano Ceramic truly takes care of every detail of your car. I
              see a big difference in my car’s protection after using their
              services
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/emad-rashad.webp" alt="" />
          </div>
          <div class="carousel-body">
            <h4>Emad Rashad</h4>
            <p>
              The best protection and the most advanced technology for your car
              can be found at Royal Nano Ceramic. It was a wonderful experience
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/ahmed-salama.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>Ahmad salama</h4>
            <p>
              Amazing service! My car is completely safe with Royal Nano
              Ceramic. Thanks to them for their professionalism
            </p>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    } @else {
    <owl-carousel-o [options]="customOptionsAr">
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/nermine-maher.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>نيرمين ماهر</h4>
            <p>
              خدمتهم مذهلة للغاية! سيارتي تبدو جديدة تماماً بفضل حماية رويال
              نانو سيراميك. الفريق محترف بشكل كبير.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/ahmed-rezk.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>أحمد رزق</h4>
            <p>
              لا توجد كلمات لوصف الخدمة التي قدموها في رويال نانو سيراميك.
              الحماية ممتازة، وسيارتي تبدو جديدة تماماً.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/maha-ahmed.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>مها أحمد</h4>
            <p>
              رويال نانو سيراميك هو المكان المثالي لحماية سيارتك. النتيجة كانت
              مذهلة جداً، وأنا سعيدة للغاية.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/nagaty.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>محمد نجاتي</h4>
            <p>
              حقاً، أفضل حماية للسيارات يمكنك العثور عليها هي في رويال نانو
              سيراميك. سيارتك ستظهر بشكل متحول تماماً.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/hesham-ismaiel.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>هشام إسماعيل</h4>
            <p>
              لن تجد مكاناً أفضل لحماية طلاء سيارتك من رويال نانو سيراميك.
              خدمتهم من الطراز الرفيع وعالية الجودة.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/ghada.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>غادة إبراهيم</h4>
            <p>
              إذا كنت ترغب في الحفاظ على لمعان سيارتك طوال الوقت، فإن رويال نانو
              سيراميك هو الحل. أنا راضية للغاية عن النتائج.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/mahmoud-hafiz.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>محمود حافظ</h4>
            <p>
              بصراحة، خدمة ممتازة وجودة لم أرَ مثلها في أي مكان آخر. سيارتي الآن
              محمية وتبدو رائعة.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/enas-elnagar.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>إيناس النجار</h4>
            <p>
              رويال نانو سيراميك يهتم حقاً بكل تفصيل في سيارتك. أرى فرقاً كبيراً
              في حماية سيارتي بعد استخدام خدماتهم.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/emad-rashad.webp" alt="" />
          </div>
          <div class="carousel-body">
            <h4>عماد رشاد</h4>
            <p>
              أفضل حماية وأحدث تقنية لسيارتك تجدها في رويال نانو سيراميك. كانت
              تجربة رائعة.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-card">
          <div class="carousel-img">
            <img src="./imgs/ahmed-salama.jpg" alt="" />
          </div>
          <div class="carousel-body">
            <h4>أحمد سلامة</h4>
            <p>
              خدمة رائعة! سيارتي الآن في أمان تام مع رويال نانو سيراميك. شكراً
              لهم على احترافيتهم.
            </p>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>

    }
  </div>
</section>
