<section class="py-5">
  <div class="cards">
    <div class="my-card a">
      <h2 data-aos="fade-down">Flexible Services</h2>

      <div data-aos="fade-down">
        <p>Smart solutions for all your charter requirements</p>
        <a routerLink="/services" class="rounded-btn">All Solutions</a>
      </div>
    </div>
    <a routerLink="/about" class="my-card b">
      <h2 data-aos="fade-down">Your reliable Partners</h2>
      <a routerLink="/about" class="hidden-link" data-aos="fade-down"
        ><span>About us</span> <i class="fa-solid fa-arrow-right"></i
      ></a>
    </a>
    <a routerLink="/services" class="my-card c">
      <h2 data-aos="fade-down">Always There to help you</h2>
      <a routerLink="/Contact" class="hidden-link" data-aos="fade-down"
        ><span>Contact Us</span> <i class="fa-solid fa-arrow-right"></i
      ></a>
    </a>
  </div>
</section>
