<section class="service-product bg-white">
  <div class="container">
    <h1 i18n class="text-center" data-aos="zoom-in">
      Paint Protection Film Products
    </h1>

    <div class="divider my-4"></div>
    <div data-aos="fade-up">
      <owl-carousel-o [options]="customOptions" dir="ltr">
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4 i18n>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                <h2 i18n class="mb-3">Max Pro</h2>

                <ul class="list-unstyled lead">
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 10 years
                  </li>
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span> USA
                  </li>
                </ul>
                <a
                  i18n
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img
                  src="https://meek-mermaid-ea40cf.netlify.app/imgs/ppf.jpeg"
                  alt="shiny car"
                  class="w-100"
                />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4 i18n>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                <h2 i18n class="mb-3">Dyno Stick</h2>

                <ul class="list-unstyled lead">
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 10 years
                  </li>
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span> USA
                  </li>
                </ul>
                <a
                  i18n
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img
                  src="https://meek-mermaid-ea40cf.netlify.app/imgs/ppf1.jpeg"
                  alt="shiny car"
                  class="w-100"
                />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4 i18n>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                <h2 i18n class="mb-3">Expel Ultimate</h2>

                <ul class="list-unstyled lead">
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 10 years
                  </li>
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span> USA
                  </li>
                </ul>
                <a
                  i18n
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img
                  src="https://meek-mermaid-ea40cf.netlify.app/imgs/ppf3.jpeg"
                  alt="shiny car"
                  class="w-100"
                />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4 i18n>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                <h2 i18n class="mb-3">3m Scotchgard</h2>

                <ul class="list-unstyled lead">
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 10 years
                  </li>
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span> USA
                  </li>
                </ul>
                <a
                  i18n
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img
                  src="https://meek-mermaid-ea40cf.netlify.app/imgs/ppf4.jpeg"
                  alt="shiny car"
                  class="w-100"
                />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4 i18n>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                <h2 i18n>Elegance Guard</h2>
                <ul class="list-unstyled lead">
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 7 years
                  </li>
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span> USA
                  </li>
                </ul>
                <a
                  i18n
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img
                  src="https://meek-mermaid-ea40cf.netlify.app/imgs/ppf5.jpeg"
                  alt="shiny car"
                  class="w-100"
                />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4 i18n>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                <h2 i18n>Hexes</h2>
                <ul class="list-unstyled lead">
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 10 years
                  </li>
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span>
                    France
                  </li>
                </ul>
                <a
                  i18n
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img
                  src="https://meek-mermaid-ea40cf.netlify.app/imgs/ppf6.jpeg"
                  alt="shiny car"
                  class="w-100"
                />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4 i18n>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                <h1 i18n>Premium 8</h1>
                <ul class="list-unstyled lead">
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 10 years
                  </li>
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span> USA
                  </li>
                </ul>
                <a
                  i18n
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img
                  src="https://meek-mermaid-ea40cf.netlify.app/imgs/ppf7.jpeg"
                  alt="shiny car"
                  class="w-100"
                />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4 i18n>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                <h1 i18n>PRO VISION</h1>
                <ul class="list-unstyled lead">
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 10 years
                  </li>
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span>
                    Germany
                  </li>
                </ul>
                <a
                  i18n
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img
                  src="https://meek-mermaid-ea40cf.netlify.app/imgs/ppf8.jpeg"
                  alt="shiny car"
                  class="w-100"
                />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4 i18n>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                <h1 i18n>Professional Shield</h1>
                <ul class="list-unstyled lead">
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 5 years
                  </li>
                  <li i18n class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span> USA
                  </li>
                </ul>
                <a
                  i18n
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img
                  src="https://meek-mermaid-ea40cf.netlify.app/imgs/ppf2.jpeg"
                  alt="shiny car"
                  class="w-100"
                />
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <br />
    <div class="divider"></div>
    <section class="row g-4 justify-content-center">
      <div class="col-md-6 col-lg-4" data-aos="fade-up">
        <div
          class="thumbnail"
          (click)="openVideo('https://www.youtube.com/shorts/NONx8xk5Olg')"
        >
          <img
            src="https://meek-mermaid-ea40cf.netlify.app/imgs/ppfVid1.jpg"
            alt="thumbnail"
            class="thumbnail-img"
          />
          <img
            src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
            alt="play icon"
            class="play-icon"
          />
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div
          class="thumbnail"
          (click)="openVideo('https://youtu.be/RIhPSbVNOoo')"
        >
          <img
            src="https://meek-mermaid-ea40cf.netlify.app/imgs/vid5.png"
            alt="thumbnail"
            class="thumbnail-img"
          />
          <img
            src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
            alt="play icon"
            class="play-icon"
          />
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div
          class="thumbnail"
          (click)="
            openVideo(
              'https://www.youtube.com/shorts/pqywdqZKzCc?feature=share'
            )
          "
        >
          <img
            src="https://meek-mermaid-ea40cf.netlify.app/imgs/ppfVid3.jpg"
            alt="thumbnail"
            class="thumbnail-img"
          />
          <img
            src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
            alt="play icon"
            class="play-icon"
          />
        </div>
      </div>
      <a
        id="fancybox-trigger"
        style="display: none"
        href="https://www.youtube.com/embed/FUKmyRLOlAA"
        data-fancybox
      >
        Open YouTube Video
      </a>
    </section>
    <section class="mt-5">
      <div class="my-5 pt-3 mb-3">
        <h4 i18n class="h2">See the Difference</h4>
      </div>

      <div data-aos="fade-left">
        <div class="slider-wrapper">
          <img-comparison-slider>
            <img
              slot="first"
              src="https://meek-mermaid-ea40cf.netlify.app/imgs/beforeAfterb3.jpeg"
              alt="Before"
              class="w-100"
            />
            <img
              slot="second"
              src="https://meek-mermaid-ea40cf.netlify.app/imgs/beforeAftera3.jpeg"
              alt="After"
              class="w-100"
            />
          </img-comparison-slider>
        </div>
      </div>
    </section>
  </div>
</section>
