<div class="video-background">
  <video #bgVideo playsInline autoplay muted loop id="bg-video">
    <source
      i18n
      src="https://meek-mermaid-ea40cf.netlify.app/imgs/bg-vid.mp4"
      type="video/mp4"
    />
    Your browser does not support HTML5 video.
  </video>
  <div class="content">
    <h1 class="mb-4">
      <span i18n class="text-gold">Royal </span>
      <br class="d-block d-md-none" />
      <span i18n class="sm-font">Nano Ceramic</span>
    </h1>

    <a i18n routerLink="/book-appointment" class="rounded-btn"
      >Protect your car</a
    >
  </div>
</div>
