<section class="products-sec">
  <div class="container">
    <h2 i18n class="h1 mb-5 fw-bold" data-aos="fade-right">Our Services</h2>

    <div class="row align-items-center">
      <div class="col-lg-6 d-none d-lg-block" data-aos="fade-right">
        <img [src]="src" alt="product-img" class="product-img 1" />
      </div>

      <div class="col-lg-6">
        <div class="products">
          <a
            class="product"
            routerLink="/services"
            (mouseover)="
              src = 'https://tools.royalshieldworld.com/public/imgs/HYPERD+.png'
            "
            data-aos="fade-left"
          >
            <h3 i18n class="text-start">Diamond Hybrid Plus</h3>
            <h4 i18n class="text-end">Nano ceramic</h4>
          </a>
          <a
            class="product"
            routerLink="/services"
            fragment="nano-graphene"
            (mouseover)="
              src = 'https://tools.royalshieldworld.com/public/imgs/GRAPHNE.png'
            "
            data-aos="fade-left"
          >
            <h3 i18n class="text-start">Graphene Hybrid Plus</h3>
            <h4 i18n class="text-end">Nano Graphene</h4>
          </a>
          <a
            class="product"
            routerLink="/services"
            fragment="ppf"
            (mouseover)="
              src = 'https://tools.royalshieldworld.com/public/imgs/max-pro.png'
            "
            data-aos="fade-left"
          >
            <h3 i18n class="text-start">Max Pro</h3>
            <h4 i18n class="text-end">Paint Protection</h4>
          </a>
          <a
            class="product"
            routerLink="/services"
            fragment="thermal-insulation"
            (mouseover)="
              src =
                'https://tools.royalshieldworld.com/public/imgs/shield-ultra-cool.png'
            "
            data-aos="fade-left"
          >
            <h3 i18n class="text-start">Shield UltraCool</h3>
            <h4 i18n class="text-end">Thermal Insulation</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
