<section>
  <div class="row">
    <div class="col-lg-6">
      <img-comparison-slider
        direction="vertical"
        value="70"
        class="d-none d-lg-block"
      >
        <img
          slot="first"
          src="https://images.unsplash.com/photo-1618642542397-ef97a739f1d7?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXRodW1ibmFpbHx8NDkyOTAxfHxlbnwwfHx8fHw%3D"
          alt="Before"
          class="header-img"
        />
        <img
          slot="second"
          src="https://images.unsplash.com/photo-1618642542397-ef97a739f1d7?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXRodW1ibmFpbHx8NDkyOTAxfHxlbnwwfHx8fHw%3D"
          alt="After"
          class="header-img second"
        />
        <svg
          slot="handle"
          class="custom-animated-handle"
          xmlns="http://www.w3.org/2000/svg"
          width="70"
          viewBox="-8 -3 16 6"
        >
          <path
            stroke="#fff"
            d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2"
            stroke-width="1"
            fill="#fff"
            vector-effect="non-scaling-stroke"
          ></path>
        </svg>
      </img-comparison-slider>
      <img-comparison-slider value="70" class="d-block d-lg-none">
        <img
          slot="first"
          src="https://images.unsplash.com/photo-1618642542397-ef97a739f1d7?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXRodW1ibmFpbHx8NDkyOTAxfHxlbnwwfHx8fHw%3D"
          alt="Before"
          class="header-img"
        />
        <img
          slot="second"
          src="https://images.unsplash.com/photo-1618642542397-ef97a739f1d7?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXRodW1ibmFpbHx8NDkyOTAxfHxlbnwwfHx8fHw%3D"
          alt="After"
          class="header-img second"
        />
        <svg
          slot="handle"
          class="custom-animated-handle"
          xmlns="http://www.w3.org/2000/svg"
          width="70"
          viewBox="-8 -3 16 6"
        >
          <path
            stroke="#fff"
            d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2"
            stroke-width="1"
            fill="#fff"
            vector-effect="non-scaling-stroke"
          ></path>
        </svg>
      </img-comparison-slider>
    </div>

    <div class="col-lg-6 header-text">
      <div class="ms-1 ms-lg-4">
        <h2 i18n class="why-royal">Why Royal Nano</h2>
        <ul class="list-unstyled">
          <li class="list-item" data-aos="fade-left">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/icons/bolt.png"
              alt="bolt"
              class="icon"
            />
            <div>
              <p i18n>Fast and efficient solutions for your car needs.</p>
              <p i18n class="detils">
                We provide cutting-edge technology that ensures speed and
                reliability, helping your business stay ahead in a competitive
                market.
              </p>
            </div>
          </li>
          <li class="list-item" data-aos="fade-left" data-aos-delay="100">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/icons/torch-inspiration-leader.png"
              alt="leadership"
              class="icon"
            />
            <div>
              <p i18n>
                Innovative leadership that inspires progress and growth.
              </p>
              <p i18n class="detils">
                Our forward-thinking leadership drives innovation, fostering a
                culture of continuous improvement and development.
              </p>
            </div>
          </li>
          <li class="list-item" data-aos="fade-left" data-aos-delay="300">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/icons/user-headset.png"
              alt="support"
              class="icon"
            />
            <div>
              <p i18n>24/7 customer support to assist you whenever needed.</p>
              <p i18n class="detils">
                Our dedicated team is always available, providing expert
                guidance and support to ensure your satisfaction around the
                clock.
              </p>
            </div>
          </li>
          <li class="list-item" data-aos="fade-left" data-aos-delay="400">
            <img
              src="https://meek-mermaid-ea40cf.netlify.app/icons/wheat.png"
              alt="sustainability"
              class="icon"
            />
            <div>
              <p i18n>
                Committed to sustainability and eco-friendly practices.
              </p>
              <p i18n class="detils">
                We prioritize eco-conscious practices, ensuring our operations
                are sustainable and contribute to a greener future.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
