<section style="margin-top: 100px" class="service-product bg-white">
  <div class="container">
    @if (lang == 'en') {
    <h1 class="text-center" data-aos="zoom-in">Nano ceramic products</h1>
    } @else {
    <h1 class="text-center" data-aos="zoom-in">منتجات النانو سيراميك</h1>
    }
    <div class="divider my-4"></div>
    <div data-aos="fade-up">
      <owl-carousel-o [options]="customOptions" dir="ltr">
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                @if (lang === "en") {
                <h2 class="mb-3">Daimond Hypred+</h2>

                <ul class="list-unstyled lead">
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 7 years
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Hardness:</span> 9H+
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Elements:</span> Daimond
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span> USA
                  </li>
                </ul>
                <a
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >

                } @else {
                <h2 class="mb-3">دايموند هايبرد بلس</h2>

                <ul class="list-unstyled lead">
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">الضمان:</span> 7 سنوات
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">الصلابة:</span> 9H+
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">العناصر:</span> الألماس
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">بلد الصنع:</span> الولايات المتحدة
                    الأمريكية
                  </li>
                </ul>
                <a
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >احجز الآن</a
                >
                }
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img src="./imgs/ceramic1.jpeg" alt="shiny car" class="w-100" />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                @if (lang === "en") {
                <h2 class="mb-3">Daimond Hypred</h2>

                <ul class="list-unstyled lead">
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 5 years
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Hardness:</span> 9H
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Elements:</span> Daimond
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span> USA
                  </li>
                </ul>
                <a
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >

                } @else {
                <h2 class="mb-3">دايموند هايبرد</h2>

                <ul class="list-unstyled lead">
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">الضمان:</span> 5 سنوات
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">الصلابة:</span> 9H
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">العناصر:</span> الألماس
                  </li>
                  <a
                    routerLink="/book-appointment"
                    class="btn btn-outline-dark d-block d-lg-none mb-3"
                    >احجز الآن</a
                  >
                </ul>
                <a
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
                }
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img src="./imgs/ceramic2.jpeg" alt="shiny car" class="w-100" />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                @if (lang === "en") {
                <h2 class="mb-3">Ultra Nano Ceramic</h2>

                <ul class="list-unstyled lead">
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 7 years
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Hardness:</span> 9H
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Elements:</span>
                    Silicone/Polysilazine
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span>
                    Germany
                  </li>
                </ul>
                <a
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
                } @else {
                <h2 class="mb-3">الترا نانو سيراميك</h2>

                <ul class="list-unstyled lead">
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">الضمان:</span> 7 سنوات
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">الصلابة:</span> 9H
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">العناصر:</span> سيليكون / بولي
                    سيلازين
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">بلد الصنع:</span> المانيا
                  </li>
                </ul>
                <a
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >احجز الآن</a
                >
                }
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img src="./imgs/ceramic3.jpeg" alt="shiny car" class="w-100" />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                @if (lang === "en") {
                <h1>Daimond N1</h1>
                <ul class="list-unstyled lead">
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 5 years
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Hardness:</span> 8H
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Elements:</span> diamond
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span> USA
                  </li>
                </ul>
                <a
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
                } @else {
                <h1>دايموند ان 1</h1>

                <ul class="list-unstyled lead">
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">الضمان:</span> 7 سنوات
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">الصلابة:</span> 9H
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">العناصر:</span> دايموند
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">بلد المصنع:</span> الولايات المتحدة
                    الأمريكية
                  </li>
                </ul>
                <a
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >احجز الآن</a
                >
                }
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img src="./imgs/ceramic4.jpeg" alt="shiny car" class="w-100" />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                @if (lang === "en") {
                <h1>Nanolex</h1>
                <ul class="list-unstyled lead">
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 7 years
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Hardness:</span> 8H
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Elements:</span>
                    Silicone/Polysilazine
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span>
                    Germany
                  </li>
                </ul>
                <a
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
                } @else {
                <h1>نانو ليكس</h1>

                <ul class="list-unstyled lead">
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">الضمان:</span> 7 سنوات
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">الصلابة:</span> 8H
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">العناصر:</span> سيليكون/بوليسيلازين
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">بلد الصنع:</span> ألمانيا
                  </li>
                </ul>
                <a
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >احجز الآن</a
                >
                }
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img src="./imgs/ceramic5.jpeg" alt="shiny car" class="w-100" />
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="row g-3 align-items-center product-details">
            <a routerLink="/book-appointment" class="overlay">
              <h4>Book Now</h4>
            </a>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="p-lg-3">
                @if (lang === "en") {
                <h1>Nano system x</h1>
                <ul class="list-unstyled lead">
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Warranty:</span> 5 years
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Hardness:</span> 8H
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Elements:</span> Diamond
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">Country of manufacture:</span> USA
                  </li>
                </ul>
                <a
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >Book Now</a
                >
                } @else {
                <h1>نانو سيستم اكس</h1>

                <ul class="list-unstyled lead">
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">الضمان:</span> 7 سنوات
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">الصلابة:</span> 8H
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">العناصر:</span> سيليكون/بوليسيلازين
                  </li>
                  <li class="mb-2 ms-2">
                    <span class="fw-medium">بلد الصنع:</span> ألمانيا
                  </li>
                </ul>
                <a
                  routerLink="/book-appointment"
                  class="btn btn-outline-dark d-block d-lg-none mb-3"
                  >احجز الآن</a
                >
                }
              </div>
            </div>

            <div class="col-lg-6">
              <div class="img-wrapper">
                <img src="./imgs/ceramic6.jpeg" alt="shiny car" class="w-100" />
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <br />
    <div class="divider"></div>
    <section class="row g-4 justify-content-center">
      <div class="col-md-6 col-lg-4" data-aos="fade-up">
        <div
          class="thumbnail"
          (click)="openVideo('https://youtu.be/UasvEtdl9sM')"
        >
          <img
            src="./imgs/ceramicVid1.png"
            alt="thumbnail"
            class="thumbnail-img"
          />
          <img
            src="./icons/play-circle.png"
            alt="play icon"
            class="play-icon"
          />
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div
          class="thumbnail"
          (click)="openVideo('https://youtu.be/hoE4nB9fy2k')"
        >
          <img src="./imgs/vid2.png" alt="thumbnail" class="thumbnail-img" />
          <img
            src="./icons/play-circle.png"
            alt="play icon"
            class="play-icon"
          />
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div
          class="thumbnail"
          (click)="openVideo('https://youtu.be/UnVy9wJO4oI')"
        >
          <img
            src="./imgs/ceramicVid3.png"
            alt="thumbnail"
            class="thumbnail-img"
          />
          <img
            src="./icons/play-circle.png"
            alt="play icon"
            class="play-icon"
          />
        </div>
      </div>
      <a
        id="fancybox-trigger"
        style="display: none"
        href="https://www.youtube.com/embed/FUKmyRLOlAA"
        data-fancybox
      >
        Open YouTube Video
      </a>
    </section>
    <section class="mt-5">
      @if(lang == 'en'){
      <div class="my-5 pt-3 mb-3">
        <h4 class="h2">See the Difference</h4>
      </div>
      } @else {
      <h4 class="my-5 pt-3 mb-5">اكتشف الفرق بنفسك</h4>
      }
      <div data-aos="fade-left">
        <div class="slider-wrapper">
          <img-comparison-slider>
            <img
              slot="first"
              src="./imgs/beforeAfterb1.jpeg"
              alt="Before"
              class="w-100"
            />
            <img
              slot="second"
              src="./imgs/beforeAftera1.jpeg"
              alt="After"
              class="w-100"
            />
          </img-comparison-slider>
        </div>
      </div>
    </section>
  </div>
</section>
