<section class="py-5">
  <div class="container-fluid">
    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade"
      data-aos="fade-up"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://images.pexels.com/photos/28152505/pexels-photo-28152505/free-photo-of-classic-car-sunset.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            @if (lang == 'en') {
            <h5>Premium Ceramic Coating</h5>
            <p>
              Royal Nano provides top-quality ceramic coating for ultimate car
              protection and longevity.
            </p>
            } @else {
            <h5>طلاء سيراميك ممتاز</h5>
            <p>
              تقدم Royal Nano طلاء سيراميك عالي الجودة لحماية السيارة بشكل مثالي
              وضمان عمر طويل.
            </p>
            }
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://images.pexels.com/photos/27918358/pexels-photo-27918358/free-photo-of-the-right-side-view-of-the-hyundai-santa-fe-xrt-stopped-with-the-mountains-under-the-sunset-in-the-background.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            @if (lang == 'en') {
            <h5>Advanced Car Protection</h5>
            <p>
              At Royal Nano, we specialize in innovative solutions to keep your
              vehicle looking new for years.
            </p>
            } @else {
            <h5>حماية متقدمة للسيارات</h5>
            <p>
              في Royal Nano، نحن متخصصون في حلول مبتكرة للحفاظ على سيارتك جديدة
              لسنوات.
            </p>
            }
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://images.pexels.com/photos/24712855/pexels-photo-24712855/free-photo-of-pontiac-grand-prix-classic-american-muscle-car.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            @if (lang =='en') {
            <h5>Professional Ceramic Services</h5>
            <p>
              Enhance your vehicle's durability and shine with Royal Nano’s
              expert ceramic coating services.
            </p>
            } @else {
            <h5>خدمات سيراميك احترافية</h5>
            <p>
              عزز من متانة سيارتك ولمعانها مع خدمات طلاء السيراميك المتخصصة من
              Royal Nano.
            </p>
            }
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
