@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.light-blue {
  color: rgb(73, 73, 210);
}
.my-text-light {
  color: #eeeeeedb;
}
