<section class="row g-2 justify-content-center py-3">
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/U1y1RiqBsT8')">
      <img src="./imgs/vid6.png" alt="thumbnail" class="thumbnail-img" />
      <img src="./icons/play-circle.png" alt="play icon" class="play-icon" />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/SvCTtUpAs2M')">
      <img src="./imgs/vid7.png" alt="thumbnail" class="thumbnail-img" />
      <img src="./icons/play-circle.png" alt="play icon" class="play-icon" />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/KwzZ--X9pvs')">
      <img src="./imgs/vid8.png" alt="thumbnail" class="thumbnail-img" />
      <img src="./icons/play-circle.png" alt="play icon" class="play-icon" />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/zKiIdQAY1x0')">
      <img src="./imgs/vid9.png" alt="thumbnail" class="thumbnail-img" />
      <img src="./icons/play-circle.png" alt="play icon" class="play-icon" />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/0UM00poAXhs')">
      <img src="./imgs/vid10.png" alt="thumbnail" class="thumbnail-img" />
      <img src="./icons/play-circle.png" alt="play icon" class="play-icon" />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/hVu8_nPdKlY')">
      <img src="./imgs/vid11.png" alt="thumbnail" class="thumbnail-img" />
      <img src="./icons/play-circle.png" alt="play icon" class="play-icon" />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/UCh9G6IC7Ro')">
      <img src="./imgs/vid12.png" alt="thumbnail" class="thumbnail-img" />
      <img src="./icons/play-circle.png" alt="play icon" class="play-icon" />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/C5lidfx5BQ8')">
      <img src="./imgs/vid1.png" alt="thumbnail" class="thumbnail-img" />
      <img src="./icons/play-circle.png" alt="play icon" class="play-icon" />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/hoE4nB9fy2k')">
      <img src="./imgs/vid2.png" alt="thumbnail" class="thumbnail-img" />
      <img src="./icons/play-circle.png" alt="play icon" class="play-icon" />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/cyr_iYXvP80')">
      <img src="./imgs/vid3.png" alt="thumbnail" class="thumbnail-img" />
      <img src="./icons/play-circle.png" alt="play icon" class="play-icon" />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/KzLsDPfWPqU')">
      <img src="./imgs/vid4.png" alt="thumbnail" class="thumbnail-img" />
      <img src="./icons/play-circle.png" alt="play icon" class="play-icon" />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/RIhPSbVNOoo')">
      <img src="./imgs/vid5.png" alt="thumbnail" class="thumbnail-img" />
      <img src="./icons/play-circle.png" alt="play icon" class="play-icon" />
    </div>
  </div>
  <a
    id="fancybox-trigger"
    style="display: none"
    href="https://www.youtube.com/embed/FUKmyRLOlAA"
    data-fancybox
  >
    Open YouTube Video
  </a>
</section>
