<section class="row g-2 justify-content-center py-3">
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/U1y1RiqBsT8')">
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/imgs/vid6.avif"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
        alt="play icon"
        class="play-icon"
      />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/SvCTtUpAs2M')">
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/imgs/vid7.avif"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
        alt="play icon"
        class="play-icon"
      />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/KwzZ--X9pvs')">
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/imgs/vid8.avif"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
        alt="play icon"
        class="play-icon"
      />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/zKiIdQAY1x0')">
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/imgs/vid9.avif"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
        alt="play icon"
        class="play-icon"
      />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/0UM00poAXhs')">
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/imgs/vid10.avif"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
        alt="play icon"
        class="play-icon"
      />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/hVu8_nPdKlY')">
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/imgs/vid11.avif"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
        alt="play icon"
        class="play-icon"
      />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/UCh9G6IC7Ro')">
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/imgs/vid12.avif"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
        alt="play icon"
        class="play-icon"
      />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/C5lidfx5BQ8')">
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/imgs/vid1.avif"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
        alt="play icon"
        class="play-icon"
      />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/hoE4nB9fy2k')">
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/imgs/vid2.avif"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
        alt="play icon"
        class="play-icon"
      />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/cyr_iYXvP80')">
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/imgs/vid3.avif"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
        alt="play icon"
        class="play-icon"
      />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/KzLsDPfWPqU')">
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/imgs/vid4.avif"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
        alt="play icon"
        class="play-icon"
      />
    </div>
  </div>
  <div class="col-6 col-lg-4 col-xl-3">
    <div class="thumbnail" (click)="openVideo('https://youtu.be/RIhPSbVNOoo')">
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/imgs/vid5.avif"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <img
        src="https://meek-mermaid-ea40cf.netlify.app/icons/play-circle.png"
        alt="play icon"
        class="play-icon"
      />
    </div>
  </div>
  <a
    id="fancybox-trigger"
    style="display: none"
    href="https://www.youtube.com/embed/FUKmyRLOlAA"
    data-fancybox
  >
    Open YouTube Video
  </a>
</section>
