<section>
  <div class="form-wrapper">
    <h1 i18n>Book Appointment</h1>
    <form [formGroup]="bookForm" (ngSubmit)="sendForm()">
      <div class="two-inputs">
        <div class="input-parent">
          <label i18n for="fullName">Full Name</label>
          <input
            i18n-placeholder
            type="text"
            name="fullName"
            id="fullName"
            placeholder="Enter your name"
            formControlName="fullName"
          />
        </div>
        <div class="input-parent">
          <label i18n for="phoneNumber">Phone Number</label>
          <input
            i18n-placeholder
            type="text"
            name="phoneNumber"
            id="phoneNumber"
            placeholder="Enter phone Number"
            formControlName="phoneNumber"
          />
        </div>
      </div>
      <div class="two-inputs">
        <div class="input-parent">
          <label i18n for="carType">Car Type</label>
          <input
            i18n-placeholder
            type="text"
            name="carType"
            id="carType"
            placeholder="Enter car type"
            formControlName="carType"
          />
        </div>
        <div class="input-parent">
          <label i18n for="carModel">Car Model</label>
          <input
            i18n-placeholder
            type="text"
            name="carModel"
            id="carModel"
            placeholder="Enter car model"
            formControlName="carModel"
          />
        </div>
      </div>
      <div class="input-parent">
        <label i18n for="service">Choose Service</label>
        <select id="service" name="service" formControlName="service">
          <option i18n value="nanoCeramic">Nano Ceramic</option>
          <option i18n value="PPF">PPF</option>
          <option i18n value="sunFilms">Sun Films</option>
        </select>
      </div>
      <div class="input-parent">
        <label i18n for="branch">Choose Branch</label>
        <select id="branch" name="branch" formControlName="branch">
          <option i18n value="tanta">Tanta</option>
          <option i18n value="october">October</option>
          <option i18n value="madenetNasr">Madenet Nasr</option>
          <option i18n value="zayed">Zayed</option>
          <option i18n value="madenetNasr2">Madenet Nasr 2</option>
          <option i18n value="mohandeseen">Mohandeseen</option>
          <option i18n value="alexandria">Alexandria</option>
          <option i18n value="sohag">Sohag</option>
          <option i18n value="hurghada">Hurghada</option>
          <option i18n value="mansoura">Mansoura</option>
          <option i18n value="zagazig">Zagazig</option>
          <option i18n value="ismailia">Ismailia</option>
          <option i18n value="portSaid">Port Said</option>
          <option i18n value="suez">Suez</option>
          <option i18n value="minya">Minya</option>
          <option i18n value="assiut">Assiut</option>
        </select>
      </div>
      <div class="input-parent">
        <label i18n for="notes">Additional Notes</label>
        <textarea
          i18n-placeholder
          name="notes"
          id="notes"
          rows="5"
          placeholder="Leave your message here"
          formControlName="notes"
        ></textarea>
      </div>

      <button type="submit" [disabled]="!bookForm.valid">Submit</button>
    </form>
  </div>
</section>

<div class="modal" [ngClass]="{ active: modal }" id="appointmentModal">
  <div class="card">
    <div class="card-header">
      <h2 i18n>Appointment Confirmation</h2>
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>
    <div class="card-body">
      <p i18n>Thank you for booking your appointment!</p>
      <p i18n>
        If you need to make any changes, please contact us at
        <a href="mailto:support@example.com">support&#64;royalnanoceramic.com</a
        >.
      </p>
    </div>
    <div class="card-footer">
      <button i18n class="confirm-button" (click)="closeModal()">
        Confirm
      </button>
    </div>
  </div>
</div>
