<section>
  <div class="form-wrapper">
    <h1 i18n>Book Appointment</h1>
    <form [formGroup]="bookForm" (ngSubmit)="sendForm()">
      <div class="two-inputs">
        <div class="input-parent">
          <label for="fullName" i18n>Full Name</label>
          <input
            type="text"
            name="fullName"
            id="fullName"
            placeholder="Enter your name"
            i18n-placeholder
            formControlName="fullName"
          />
        </div>
        <div class="input-parent">
          <label for="phoneNumber" i18n>Phone Number</label>
          <input
            type="text"
            name="phoneNumber"
            id="phoneNumber"
            placeholder="Enter phone number"
            i18n-placeholder
            formControlName="phoneNumber"
          />
        </div>
      </div>

      <div class="two-inputs">
        <div class="input-parent">
          <label for="carType" i18n>Car Type</label>
          <input
            type="text"
            name="carType"
            id="carType"
            placeholder="Enter car type"
            i18n-placeholder
            formControlName="carType"
          />
        </div>
        <div class="input-parent">
          <label for="carModel" i18n>Car Model</label>
          <input
            type="text"
            name="carModel"
            id="carModel"
            placeholder="Enter car model"
            i18n-placeholder
            formControlName="carModel"
          />
        </div>
      </div>

      <div class="input-parent">
        <label for="service" i18n>Choose Service</label>
        <select id="service" name="service" formControlName="service">
          <option value="nanoCeramic" i18n>Nano Ceramic</option>
          <option value="PPF" i18n>PPF</option>
          <option value="sunFilms" i18n>Sun Films</option>
        </select>
      </div>

      <div class="input-parent">
        <label for="branch" i18n>Choose Branch</label>
        <select id="branch" name="branch" formControlName="branch">
          <option value="tanta" i18n>Tanta</option>
          <option value="october" i18n>October</option>
          <option value="madenetNasr" i18n>Madenet Nasr</option>
          <option value="zayed" i18n>Zayed</option>
          <option value="madenetNasr2" i18n>Madenet Nasr 2</option>
          <option value="mohandeseen" i18n>Mohandeseen</option>
          <option value="alexandria" i18n>Alexandria</option>
          <option value="sohag" i18n>Sohag</option>
          <option value="hurghada" i18n>Hurghada</option>
          <option value="mansoura" i18n>Mansoura</option>
          <option value="zagazig" i18n>Zagazig</option>
          <option value="ismailia" i18n>Ismailia</option>
          <option value="portSaid" i18n>Port Said</option>
          <option value="suez" i18n>Suez</option>
          <option value="minya" i18n>Minya</option>
          <option value="assiut" i18n>Assiut</option>
        </select>
      </div>

      <div class="input-parent">
        <label for="notes" i18n>Additional Notes</label>
        <textarea
          name="notes"
          id="notes"
          rows="5"
          placeholder="Leave your message here"
          i18n-placeholder
          formControlName="notes"
        ></textarea>
      </div>

      <button type="submit" [disabled]="!bookForm.valid" i18n>Submit</button>
    </form>
  </div>
</section>
