@if(lang == 'en'){
<section>
  <div class="location">
    <div>
      <img
        src="https://www.datocms-assets.com/40358/1611581927-hyer-personal-flight-manager.png?ar64=ODo5&auto=format&fit=crop&w=960&q=100"
        alt="hand"
        class="w-100 d-block"
      />
    </div>
  </div>
  <div class="text">
    <div>
      <h4 data-aos="fade-down">Available Everywhere</h4>

      <ul>
        <li data-aos="fade-left">Damietta, Damietta Governorate, Egypt</li>
        <li data-aos="fade-left">Asyut, Asyut Governorate, Egypt</li>
        <li data-aos="fade-left">Alexandria, Alexandria Governorate, Egypt</li>
        <li data-aos="fade-left">6 October City, Giza Governorate, Egypt</li>
        <li data-aos="fade-left">Tanta, Gharbia Governorate, Egypt</li>
        <li data-aos="fade-left">Nasr City, Cairo Governorate, Egypt</li>
        <li data-aos="fade-left">El Haram, Beni Suef Governorate, Egypt</li>
      </ul>
    </div>

    <p data-aos="fade-left">
      Royal Nano is available everywhere across Egypt with a wide network of
      branches. Our strategically located branches ensure that no matter where
      you are, you have access to our premium car protection services. Each
      branch is staffed with highly trained professionals ready to deliver the
      best in nano-ceramic coatings, paint protection films, and more. We’re
      committed to making it convenient for you to keep your car looking its
      best, no matter your location
    </p>
  </div>
</section>
} @else if (lang == 'ar') {
<section>
  <div class="location">
    <div>
      <img
        src="https://www.datocms-assets.com/40358/1611581927-hyer-personal-flight-manager.png?ar64=ODo5&auto=format&fit=crop&w=960&q=100"
        alt="يد"
        class="w-100"
      />
    </div>
  </div>
  <div class="text">
    <div>
      <h4 data-aos="fade-down">متاح في كل مكان</h4>

      <ul>
        <li data-aos="fade-left">دمياط، محافظة دمياط، مصر</li>
        <li data-aos="fade-left">أسيوط، محافظة أسيوط، مصر</li>
        <li data-aos="fade-left">الإسكندرية، محافظة الإسكندرية، مصر</li>
        <li data-aos="fade-left">مدينة 6 أكتوبر، محافظة الجيزة، مصر</li>
        <li data-aos="fade-left">طنطا، محافظة الغربية، مصر</li>
        <li data-aos="fade-left">مدينة نصر، محافظة القاهرة، مصر</li>
        <li data-aos="fade-left">الهرم، محافظة بني سويف، مصر</li>
      </ul>
    </div>

    <p data-aos="fade-left">
      رويال نانو متاحة في جميع أنحاء مصر من خلال شبكة واسعة من الفروع. فروعنا
      ذات المواقع الاستراتيجية تضمن أنه بغض النظر عن مكانك، يمكنك الوصول إلى
      خدمات حماية السيارات الفاخرة الخاصة بنا. كل فرع مجهز بفريق من المحترفين
      المدربين تدريباً عالياً لتقديم أفضل خدمات الطلاء النانو سيراميكي وأفلام
      حماية الطلاء وغيرها. نحن ملتزمون بتسهيل الحفاظ على مظهر سيارتك بأفضل حال،
      بغض النظر عن موقعك.
    </p>
  </div>
</section>

}
